html, body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica";
  font-size: inherit;
  transition: opacity 0.2s ease, padding 0.2s ease, background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

a {
  text-decoration: none;
  color: #007BFF;
}
.notice {
  padding-top: 20px;
  color: #FF5E00;
  border-bottom: 3px solid #FF5E00;
  background-color: rgba(255, 0, 0, 0);
}
.page-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #007BFF;
  color: white;
  clear: both;
}

.page-title h1 {
  margin: 40px 30px 10px;
}
.page {
  display: flex;
}

.container {
  margin: 200px auto 0;

}

.admin {
  text-align: center;
  padding-top: 200px;
}

.admin div {
  width: 800px;
  height: 40px;
  margin: 0 auto 20px;
  border: 1px solid #949494;
  border-radius: 9px;
  padding-top: 20px;
}
.admin div:hover {
  background-color: #007BFF;
  color: white;
}
.instructions {
  width: 80%;
  margin: 0 auto;
  color: #949494;
}

.instructions li {
  line-height: 25px;
  font-size: 16px;
}
.checkbox {
  list-style-type: none;
  color: black;
}

.checkbox label {
  font-size: 14px;
}

.center {
  width: 100%;
  margin: 40px auto;
}
.register {
  margin: auto;
}
.normal {
  display: block;
  width: 300px;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.button.normal {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: #007BFF;
}

.button.normal:hover {
  background-color: #419AF9;
}
