html, body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica";
  font-size: inherit;
  transition: opacity 0.2s ease, padding 0.2s ease, background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

a {
  text-decoration: none;
  color: #007BFF;
}

.notice {
  padding-top: 20px;
  color: #FF5E00;
  border-bottom: 3px solid #FF5E00;
  background-color: rgba(255, 0, 0, 0);
}

.page-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #007BFF;
  color: white;
  clear: both;
}

.menu-side {
  padding-left: 0;
  margin: 6px 0;
  list-style-type: none;
}

.menu-normal {
  text-align: center;
  display: inline;
  padding: 5px;
}

.side-nav {
  position: fixed;
  top: 100px;
  right: 10px;
}

.menu {
  margin-top: 38px;
}

.menu-link:hover {
  color: #F0ECEC;
}

.active {
  color: white;
}

.inactive {
  color: #C1BDBD;
}

.menu li {
  font-size: 15px;
  list-style-type: none;
  padding-right: 20px;
  display: inline;
}

.page {
  display: flex;
}

.nav-bar {
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 30px;
  display: flex;
}

.container {
  margin: 200px auto 0;
}

.up {
  margin: 80px auto 0;
}

.generated-url {
  border: 1px solid #949494;
  color: #949494;
  border-radius: 9px;
  font-size: 15px;
  font-style: oblique;
  padding: 5px 10px;
  height: 20px;
  width: 650px;
  text-align: center;
  margin: 20px auto;
}

.admin {
  text-align: center;
  padding-top: 60px;
}

.question {
  margin: 10px auto;
  padding: 10px;
  width: 60%;
  min-height: 70px;
  border-radius: 9px;
}

.question-id {
  color: #949494;
  font-weight: bold;
  position: relative;
  bottom: 116px;
  right: 6px;
}

.radio {
  position: relative;
  bottom: 15px;
  right: 6px;
}

.option {
  padding: 10px;
  width: 58%;
  height: 20px;
  border-radius: 9px;
  color: #949494;
}

.admin-button {
  width: 800px;
  height: 40px;
  margin: 0 auto 20px;
  border: 1px solid #949494;
  border-radius: 9px;
  padding-top: 20px;
}

.admin-button:hover {
  background-color: #007BFF;
  color: white;
}

.selectors {
  justify-content: center;
  display: flex;
  margin: 30px;
}

.side-by-side {
  margin: 0 40px;
}

.center {
  width: 100%;
  text-align: center;
  margin: auto;
}

textarea {
   resize: none;
}

.text-page {
  width: 80%;
  margin: 0 auto;
  color: #949494;
}

.text-page li {
  line-height: 25px;
  font-size: 16px;
}

.checkbox {
  list-style-type: none;
  color: black;
}

.checkbox label {
  font-size: 14px;
}

.center {
  text-align: center;
}

.register {
  margin: auto;
}

.normal {
  display: block;
  width: 300px;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.normal-mid {
  padding-left: 15px;
  border-radius: 5px;
  color: #707070;
  font-size: 15px;
  text-align: center;
  margin: 10px auto 20px;
}

.side-by-side label {
  color: #707070;
}
.long {
  width: 190px;
}

.block {
  display: block;
}

.half {
  width: 140px;
}

.center-div {
  padding-top: 13px;
  padding-left: 46px;
  padding-bottom: 20px;
  width: 155px;
  margin: 0 auto;
}

.center-div div {
  padding-bottom: 8px;
}

.center div {
  text-align: left;
}

.normal {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: #007BFF;
  border: 1px solid #949494;
  margin: 20px auto 10px;
}

.cancel {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  color: #FF5E00;
  text-align: center;
  border: 1px solid #949494;
  background-color: white;
  font-weight: bold;
  margin: 20px auto 10px;
}

.disable {
  color: #E0E0E0;
  background-color: white;
  border: 1px solid #E0E0E0;
}

.normal:hover {
  background-color: #419AF9;
}
.normal.disable:hover {
  color: #E0E0E0;
  background-color: white;
  border: 1px solid #E0E0E0;
}

.option, .question {
  color: #6C6C6C;
}

.cancel:hover {
  background-color: #F4F4F4;
}
