{{outlet}}
  <div class="container">
    <div class="text-page">
      <form>
        <h3 class="center">Level of Difficulty</h3>
        <select class="normal-mid half" name="difficulty">
          <option class="center">Select Level</option>
          <option class="center" value="high">High</option>
          <option class="center" value="meduim">Medium</option>
          <option class="center" value="low">Low</option>
        </select>
        <h3 class="center">Type of Test</h3>
        <div class="center-div">
          <div>
            <input class="" name="type" value="css" type="checkbox">
            <label>CSS</label>
          </div>
          <div>
            <input class="" name="type" value="html" type="checkbox">
            <label>HTML</label>
          </div>
          <div>
            <input class="" name="type" value="js" type="checkbox">
            <label>JavaScript</label>
          </div>
          <div>
            <input class="" name="type" value="qa" type="checkbox">
            <label>Quality Assurance</label>
          </div>
        </div>
        <h3 class="center">Number of Questions</h3>
        <input class="normal-mid" type="number" min=4 max=40 value=20 name="quantity" required>
        <input class="button normal" type="submit" value="GENERATE URL">
      </form>
    </div>
    <div class="generated-url">
      https://www.quiz-world.com/register?session-id=123A4abBCDcd123A4abBCDcd
    </div>
  </div>
