{{outlet}}
  <div class="container">
    <div class="text-page">
      <form>
        <h3 class="center">Number of Questions</h3>
        <input class="normal-mid" type="number" min=4 max=40 value=20 name="quantity" required>
        <input class="button normal" type="submit" value="GENERATE URL">
      </form>
    </div>
  </div>
