{{outlet}}
  <div class="container">
    <div class="success"></div>
    <div class="text-page">
      <form {{action "generateRandomUrl" on="submit"}}>
        <h3 class="center">Number of Questions</h3>
        {{input class="normal-mid block" type="number" min=4 max=40 title="Choose mimimum 4 and maximum 40" value=quantity}}
        <button class="button normal">GENERATE URL</button>
      </form>
    </div>
    <div class="generated-url">
    </div>
  </div>
