{{outlet}}
<div class="container up">
  <div class="admin">
    <form>
      <div>
        <textarea class="search" type="text" name="question" placeholder="Search for question with a string ..."></textarea>
      </div>
    </form>
  </div>
</div>
