{{outlet}}
<div class="container">
  <div class="admin">
    <form>
      <label for="file-upload" class="upload">
        UPLOAD FILE
        <input id="file-upload" type="file" name="questions"/>
      </label>
      <div class="generated-url">
        C:\fakepath\quizes.csv
      </div>
      <div class="selectors">
        <div class="side-by-side">
          <input class="normal disable" disabled type="submit" value="Add quiz">
        </div>
        <div class="side-by-side">
          <input class="cancel" type="submit" value="Cancel">
        </div>
      </div>
    </form>
  </div>
</div>
