{{outlet}}
<div class="container">
  <div class="admin">
    {{#each button in buttons}}
      {{#link-to button.page}}
        <div class="long-button"> {{button.button}} </div>
      {{/link-to}}
    {{/each}}
  </div>
</div>
