{{outlet}}
<div class="container up">
  <div class="admin">
    <div class="success"></div>
    <div class="question_container">
      <div class="completed_page">
        <p> Congratulations on your successful completion. Your resource manager will shortly be notified of your result.</p>
      </div>
    </div>
  </div>
</div>
