<div class="page-title">
  <div class="nav-bar">
    <h1 class="title">Admin URL Generator</h1>
    <div>
      <ul class="menu">
        <li><a {{bind-attr class="class :menu-link"}} href="generator/custom">CUSTOM GENERATOR</a></li>
        <li><a {{bind-attr class="class :menu-link class"}} href="generator/random">RANDOM GENERATOR</a></li>
      </ul>
    </div>
  </div>
</div>
{{outlet}}
