{{outlet}}
<div class="container">
  <div class="text-page">
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nam condimentum vestibulum urna non finibus. Nullam massa sapien,
        pretium vel massa vel, scelerisque porta eros.
      </li>
      <li>Praesent ut augue vehicula, lobortis magna nec, tincidunt eros.
        Phasellus imperdiet lorem in maximus accumsan. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </li>
      <li>Etiam mattis tempus risus, vitae tempus sem facilisis at. Etiam mattis
        rhoncus urna, eget consequat ante iaculis at. Nunc sollicitudin sapien
        eget ex tincidunt, et consequat mauris congue. Sed aliquet enim a turpis
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nam condimentum vestibulum urna non finibus. Nullam massa sapien,
        pretium vel massa vel, scelerisque porta eros.
      </li>
      <li>Praesent ut augue vehicula, lobortis magna nec, tincidunt eros.
        Phasellus imperdiet lorem in maximus accumsan. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </li>
      <li>Etiam mattis tempus risus, vitae tempus sem facilisis at. Etiam mattis
        rhoncus urna, eget consequat ante iaculis at. Nunc sollicitudin sapien
        eget ex tincidunt, et consequat mauris congue. Sed aliquet enim a turpis
      </li>
    </ul>
    <ul>
      <li class="checkbox">
        <form>
          <input type="checkbox" name="accept">
          <label>Etiam mattis tempus risus, vitae tempus sem facilisis at. Etiam mattis
            rhoncus urna, eget consequat ante iaculis at.</label>
          <input class="button normal center" type="submit" value="Start Quiz">
        </form>
      </li>
    </ul>
  </div>
</div>
