{{outlet}}
  <div class="container">
    <div class="page">
      <form class="register">
        <input class="normal-input" type="email" name="email" placeholder="email">
        <input class="normal-input" type="password" name="password" placeholder="password">
        <input class="normal-input" type="text" name="session" placeholder="session">
        <input class="button normal" type="submit" value="Login">
      </form>
    </div>
</div>
